body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a95a81;
    color: #080505;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #a95a81;
    color: #080505;
    padding: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
